  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .text-box {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
      background: #212529;
    }

    img {
        margin-bottom: 30px;
    }

    .create-new-button {
        margin-left: 10px;
    }
  }