<div class="d-flex justify-content-center trailer-banner">
  <div class="container">
    <h1 class="display-4">New Release</h1>
    <p>Peter Parker is unmasked and no longer able to separate his normal life from the high-stakes of being a
      super-hero. When he asks for help from Doctor Strange the stakes become even more dangerous,
      forcing him to discover what it truly means to be Spider-Man.</p>
  </div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/JfVOs4VSpmA" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
</div>