<div class="container, d-flex justify-content-center">
  <div class="row">

    <!-- Card 1 -->
    <div class="card" style="width: 18rem;">
      <img src="assets/images/jaws.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jaws</h5>
        <p class="card-text">When a killer shark unleashes chaos on a beach community off Long Island, it's up to a
          local sheriff, a marine biologist, and an old seafarer to hunt the beast down.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card" style="width: 18rem;">
      <img src="assets/images/jaws.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jaws</h5>
        <p class="card-text">When a killer shark unleashes chaos on a beach community off Long Island, it's up to a
          local sheriff, a marine biologist, and an old seafarer to hunt the beast down.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card" style="width: 18rem;">
      <img src="assets/images/jaws.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jaws</h5>
        <p class="card-text">When a killer shark unleashes chaos on a beach community off Long Island, it's up to a
          local sheriff, a marine biologist, and an old seafarer to hunt the beast down.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="card" style="width: 18rem;">
      <img src="assets/images/jaws.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jaws</h5>
        <p class="card-text">When a killer shark unleashes chaos on a beach community off Long Island, it's up to a
          local sheriff, a marine biologist, and an old seafarer to hunt the beast down.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>